@tailwind base;
@tailwind components;
@tailwind utilities;



body { 
    background: lightgray;
    overflow-x: hidden;

}

* { 
    box-sizing: border-box;
}

@keyframes topRowAnimation { 
    0% { 
        transform: translateY(60px);
    } 100% { 
        transform: translateY(0);
    }
}

.topRow { 
    animation-name: topRowAnimation;
    animation-duration: 800ms;
    animation-delay: 250ms;
}

@keyframes renderAnimation { 
    0% { 
        transform: translateY(120px);
    } 50% {
        opacity: 1;
     }100% { 
        transform: translateY(0px);
    }
}
.hide { 
    opacity: 0;
}

.render { 
    animation-name: renderAnimation;
    animation-duration: 800ms;
    animation-delay: 250ms;
}
@media only screen and (min-width: 600px) {
.gridItems div:nth-child(3n+2) { 
    transform: translateY(100px);
}
}

